{% extends '@App/_layout.html.twig' %}

{% block nav_editor %}
    {% for brand in brands %}
        <ul class="nav navbar-nav">
            <li>
                <a href="#">{{ brand.name }}<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    {% endfor %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="{{ path('default_template') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for brand in brands %}
                    <li>
                        <a href="{{ path('default_template') }}{{ brand.slug }}" target="_blank">{{ brand.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <!-- GLOBAL CONTAINER FOR EDITOR PAGE -->
    <div class="container editor">
        <div class="row">
            <!-- PREVIEW CONTAINER -->
            <div class="col-md-9 left-content" role="main">
                <div class="row left-content__head">
                    <div class="col-xs-6 text-left">
                        <h4>Prévisualisation</h4>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Télécharger
                        </button>
                    </div>
                </div>
                <div class="preview-zone col-xs-12">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 preview-title">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Titre</span>
                                <input type="text" class="form-control" placeholder="Veuillez inscrire votre titre..."
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <ul class="sortable preview-zone__sortable block-drop-zone">
                        <li class="">
                        </li>
                    </ul>
                </div>
            </div>

            <!-- NEWSLETTER BLOCKS CONTAINER -->
            <div class="col-md-3 block-content" role="navigation">
                <div class="row block-content__head">
                    <div class="col-xs-12">
                        <h4>Modèles de blocs</h4>
                    </div>
                </div>
                <div class="blocks-list">
                    <nav class="nav">
                        {% for template in arrayTemplates %}
                            {% for bloc in template.blocs %}
                                {% if bloc.alternatives|length > 1 %}
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle block-btn" id="{{ template.template.title }}" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {{ template.template.title }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu block-dropdown-menu" aria-labelledby="dropdownMenu1">
                                            {% for alternative in bloc.alternatives %}
                                                <li>
                                                    <button type="button" class="btn btn-info block-btn block-draggable" data-html="{{ alternative.content }}">{{ alternative.title }}</button>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <button type="button" class="btn btn-primary block-btn block-draggable" data-html="{{ bloc.alternatives.first.content}}">
                                        {{ template.template.title }}
                                    </button>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}