{% extends '@App/_layout.html.twig' %}

{% block title %}{{ parent() }} Documentation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/prism.css') }}">
{% endblock %}

{% block nav %}
    {% for key, brand in brands %}
        {% set active = (key == 0) ? 'active' : '' %}
        <ul class="nav navbar-nav" role="tablist">
            <li class="{{ active }}">
                <a href="#">{{ brand.name }}<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9" role="main">
                {% for t in arrayTemplates %}
                    {% if t.blocs|length == 1 %}
                        <div id="{{ t.template.href }}">
                            <h2>{{ t.template.title }}</h2>
                            <p>{{ t.template.subtitle }}</p>
                            <div class="block-example">
                                <p> Exemple </p>
                                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff !important; font-family: Arial, Helvetica, Geneva, sans-serif;">
                                    <tbody>
                                    <tr>
                                        <td align="center">
                                            {{ t.blocs[0].content|raw }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <figure class="highlight">
                                <pre class="line-numbers"><code class="language-html" data-lang="html">{{ t.blocs[0].content }}</code></pre>
                            </figure>
                        </div>
                    {% else %}
                        <div id="{{ t.template.href }}">
                            <h2>{{ t.template.title }}</h2>
                            <p>{{ t.template.subtitle }}</p>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                {% for key, bloc in t.blocs %}
                                    {% set active = (key == 0) ? 'active' : '' %}
                                    <li role="presentation" class="{{ active }}">
                                        <a href="#alternative-{{ bloc.id }}" aria-controls="alternative-{{ bloc.title }}" role="tab" data-toggle="tab" aria-expanded="true">{{ bloc.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            {% for key, bloc in t.blocs %}
                                {% set classe = (key == 0) ? 'active' : '' %}
                                <div role="tabpanel" class="tab-pane {{ classe }}" id="alternative-{{ bloc.id }}">
                                    <div class="block-example">
                                        <p> Exemple </p>
                                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff !important; font-family: Arial, Helvetica, Geneva, sans-serif;">
                                            <tbody>
                                            <tr>
                                                <td align="center">
                                                    {{ bloc.content|raw }}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <figure class="highlight">
                                        <pre class="line-numbers"><code class="language-html" data-lang="html">{{ bloc.content}}</code></pre>
                                    </figure>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-3" role="navigation" >
                <nav class="nav affix-top" id="navbar-right">
                    <ul class="nav nav-pills nav-stacked" role="tablist">
                    {% for t in arrayTemplates %}
                        <li>
                            <a href="#{{ t.template.href }}">{{ t.template.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    <a class="back-to-top" href="#top"> Back to top </a>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/prism.js') }}"></script>

    {{ parent() }}
{% endblock %}